{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-left">
        <h2 class="section-heading text-uppercase"><a href="https://www.cardkingdom.com/catalog/search?search=header&filter%5Bname%5D={{record.card_name}}" target="_blank">{{record.card_name}}</a></h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'updateCard' %}">
        {% csrf_token %}
        <input type="hidden" id="card_id" name="card_id" value="{{record.id}}">

        <label for="card_name">Card Name: {{record.card_name}}</label>
        <br><br>

        <label for="color">Color: {{record.color}}</label>
        {% if record.color == 'Colorless' %}
            <img src="{% static 'img/Colorless.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Black' %}
            <img src="{% static 'img/Black.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'White' %}
            <img src="{% static 'img/White.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Red' %}
            <img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Green' %}
            <img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Blue' %}
            <img src="{% static 'img/Blue.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Azorius' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Golgari' %}
            <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Izzet' %}
            <img src="{% static 'img/Blue.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Gruul' %}
            <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Simic' %}
            <img src="{% static 'img/Green.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Dimir' %}
            <img src="{% static 'img/Blue.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Rakdos' %}
            <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Boros' %}
            <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/White.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Selesnya' %}
            <img src="{% static 'img/Green.png'%}" width="5%"><img src="{% static 'img/White.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Orzhov' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Esper' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Black.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Grixis' %}
            <img src="{% static 'img/Blue.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
                <img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Jund' %}
            <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
                <img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Naya' %}
            <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
                <img src="{% static 'img/White.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Bant' %}
            <img src="{% static 'img/Green.png'%}" width="5%"><img src="{% static 'img/White.png'%}" width="5%">
                <img src="{% static 'img/Blue.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Abzan' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
                <img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Temur' %}
            <img src="{% static 'img/Green.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Sultai' %}
            <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
                <img src="{% static 'img/Blue.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Jeskai' %}
            <img src="{% static 'img/Blue.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
                <img src="{% static 'img/White.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Mardu' %}
            <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/White.png'%}" width="5%">
                <img src="{% static 'img/Black.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Glint' %}
            <img src="{% static 'img/Blue.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
                <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Dune' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Black.png'%}" width="5%">
                <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Ink' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Red.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Witch' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'Yore' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
            <br><br>
        {% elif record.color == 'WUBRG' %}
            <img src="{% static 'img/White.png'%}" width="5%"><img src="{% static 'img/Blue.png'%}" width="5%">
                <img src="{% static 'img/Black.png'%}" width="5%"><img src="{% static 'img/Red.png'%}" width="5%">
                <img src="{% static 'img/Green.png'%}" width="5%">
            <br><br>
        {% else %}
            <br><br>
        {% endif %}

        <label for="rarity">Rartiy: {{record.rarity}}</label>
        <br><br>

        {% if record.foil == True %}
        <img src="{% static 'img/Foil.png'%}" width="5%">
        {% else %}
        -
        {% endif %}
        <br><br>

        {% if record.extended == True %}
        <label for="extended">Extended</label>
        {% else %}
        <label for="extended">-</label>
        {% endif %}
        <br><br>

        {% if record.retro == True %}
            <label for="retro">Retro Frame</label>
        {% else %}
            <label for="retro">-</label>
        {% endif %}
        <br><br>

        {% if record.legendary == True %}
            <label for="legendary">Legendary</label>
        {% else %}
            <label for="legendary">-</label>
        {% endif %}
        <br><br>

        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="{{record.quantity}}">
        <br><br>

        <button type="submit">Update</button>
    </form>

    <label><b>Set</b></label>
    {% for set in set %}
    <p>{{ set.title }}</p>
    {% endfor %}

    <form name="form" method="post" action="{% url 'addCardSet' %}">
        {% csrf_token %}
        <input type="hidden" id="card_id" name="card_id" value="{{record.id}}">

        <label for="card_set">Select the card set:</label>
        <select type="text" name="card_set" id="card_set">
            {% for set in avail3 %}
            <option value="{{ set.id }}">{{ set.title }}</option>
            {% endfor %}
        </select>

        <button type="submit">Add Card Set</button>
    </form>

    <label><b>Card Type(s)</b></label>
    {% for type in type %}
    <p>{{ type.type }}</p>
    {% endfor %}

    <form name="form" method="post" action="{% url 'addCardCardType' %}">
        {% csrf_token %}
        <input type="hidden" id="card_id" name="card_id" value="{{record.id}}">

        <label for="card_type">Select the card type to add:</label>
        <select type="text" name="card_type" id="card_type">
            {% for type in avail %}
            <option value="{{ type.id }}">{{ type.type }}</option>
            {% endfor %}
        </select>

        <button type="submit">Add Card Type</button>
    </form>

    <label><b>Card Sub Type(s)</b></label>
    {% for sub_type in sub_type %}
    <p>{{ sub_type.sub_type }}</p>
    {% endfor %}

    <form name="form" method="post" action="{% url 'addCardCardSubType' %}">
        {% csrf_token %}
        <input type="hidden" id="card_id" name="card_id" value="{{record.id}}">

        <label for="card_sub_type">Select the card sub type to add:</label>
        <select type="text" name="card_sub_type" id="card_sub_type">
            {% for sub_type in avail2 %}
            <option value="{{ sub_type.id }}">{{ sub_type.sub_type }}</option>
            {% endfor %}
        </select>

        <button type="submit">Add Card Sub Type</button>
    </form>

    <a class="btn btn-primary" href="{% url 'index' %}">Return Home</a></li>

</div>
{% endblock %}