
{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <div class="container" style="text-align:center">
            <h1>Here's a list of the sets</h1>
            <div style="text-align:center">
                <table>
                    <th></th><th>Sets</th><th></th>
                
                {% for set in set %}
                
                <tr style='text-align:center; margin-left:2px;'>
                    <td>
                        {{ set.title }}
                    </td>
                    <td>
                        <a class="btn btn-primary" style="color:Pink" href="{% url 'deleteSet' set_id=set.id %}">Remove</a>
                    </td>
                </tr>
    
                {% endfor %}
                </table>
            </div>
            
            <br>
            <a class="btn btn-primary" style="color:Lime" href="{% url 'addSet' %}">Add Set</a>
        </div>
{% endblock %}